---
layout: main
---

{% include selector.html %}

<section>
    {% include gallery.html %}
</section>

<div id="hide">
    <span id="css-to-js"></span>
    <img alt="Full size project image">
    <a><img alt="Link to full size image"></a>
    <a> {% comment %} id, href {% endcomment %}
        {% assign loader_class = 'mini' %}
        {% include loader.html %}
        <img> {% comment %} src, alt {% endcomment %}
        <div>
            <div><div><h2>{% comment %} title {% endcomment %}</h2><span></span><p>{% comment %} basicInfo {% endcomment %}</p></div></div>
        </div>
    </a>
</div>
