<div id="gallery">
    <div id="frame">
        {% assign loader_class = 'gallery' %}
        {% include loader.html %}
        <canvas width="16" height="9"></canvas>
        <div class="img-nav l"><div></div></div>
        <div class="img-nav r"><div></div></div>
        <div id="conveyor">
            {% comment %} This contains the full size images. {% endcomment %}
        </div>
    </div>
    <div id="content">
        <nav>
            {% comment %} This contains the thumbnail images and anchors. {% endcomment %}
        </nav>
        <article>
            <h2>Project Title</h2>
        </article>
    </div>
</div>
