<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <title>{% if page.title.size > 0 %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.address }}{{ site.baseurl }}/styles/main.css">
    </head>
    <body>
        <header>
            <h1><a href="{{ site.address }}{{ site.baseurl }}/">{{ site.artist }}</a></h1>
        </header>
