// the ancestor
body
    margin: 0
    font-family: $font-source-sans
    background: $colour-shade-light
    color: $colour-off-black

// white horizontal bar at the top
header
    padding: $unit * 4
    font-weight: 700
    text-align: center
    background: #fff

    // big title heading
    h1
        margin: 0
        font-size: 40pt

        // link back to home page
        a
            border: none
            text-decoration: none

// main container, capping at 1440 px wide
section
    margin: 0 auto
    padding: $unit * 2 0 0 $unit * 2
    width: 100%
    max-width: 1440px + $unit * 10
    @include prefix(box-sizing, border-box, webkit moz)

// make headings edgy
h1, h2, h3, h4, h5, h6
    font-family: $font-argent
