a
    color: $colour-accent

// all anchors in considerable chunks of text
article a
    // replace underline with thicker border underline
    text-decoration: none
    border-bottom: $unit * .4 solid $colour-accent-tint
    @include prefix(webkit moz, transition, all ease .2s)

    // darker underline when hovered
    &:hover
        border-color: $colour-accent
