#gallery
    margin: 0 0 $unit * 2
    clear: both
    position: relative

    & > div
        position: relative

        &:after
            content: ''
            display: block
            clear: both

        img
            width: calc(75% - #{$unit * 2})

            &:not(.stretch)

                &:nth-of-type(2)
                    right: 100%

                &:nth-of-type(3)
                    left: 0

                &:nth-of-type(4)
                    left: calc(75% - #{$unit * 2})

                &:nth-of-type(5)
                    left: calc(150% - #{$unit * 4})

#stretch
    float: left

#stretch ~ img, #content, .cover
    position: absolute
    top: 0

#content
    padding: $unit * 4
    right: $unit * 2
    width: 25%
    height: 100%
    background: $colour-white
    @include prefix(box-sizing, border-box, webkit moz)

    nav
        width: calc(100% + #{$unit * 2})

        a
            display: inline-block
            margin: 0 $unit * 2 $unit * 2 0
            width: calc(25% - #{$unit * 2})
            position: relative

            &:before, &:after
                content: ''
                display: block

            &:before
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                @include prefix(transition, all ease-in-out .2s, webkit moz)

            &:after
                clear: both

            &:hover:before, &.current:before
                background: $colour-accent-tint

            &.current:before
                @include prefix(box-shadow, inset 0 0 0 $unit $colour-accent, webkit)

            img
                float: left
                width: 100%

    h2
        font-size: 150%

.cover
    width: 100%
    height: 100%
    background: $colour-white-tint

    &.l
        right: 100%

    &.r
        left: calc(100% - #{$unit * 2})
