#gallery
    margin: $unit 0
    clear: both
    position: relative

canvas
    width: 100%

#frame div, #content, .img-nav
    height: 100%
    position: absolute
    top: 0

#conveyor
    white-space: nowrap

#frame img, canvas
    vertical-align: bottom

#frame
    overflow: hidden
    position: relative
    width: calc(75% - #{$unit * 2})

    &:hover .img-nav div
        opacity: 1

    div
        @include prefix(webkit moz, transition, all ease-out .2s)

    div, img
        width: 100%

    .img-nav
        width: 20%
        cursor: pointer
        z-index: 1

        &.unavailable
            cursor: default

            div:after
                color: $colour-accent-disabled

        &.proj-nav div
            width: $unit * 15

            &:before
                border-color: $colour-white
                @include prefix(webkit moz, transition, all ease .4s)

            &:after
                opacity: 1
                @include prefix(webkit moz, transition, all ease .4s .2s)

        &:not(.unavailable):hover div
            margin-top: $unit * -6
            height: $unit * 12

        &.l div

            &:before
                left: $unit * 2.25
                @include prefix(webkit ms, transform, rotate(225deg))

            &:after
                content: 'Previous project'
                left: 0

        &.r div

            &:before
                right: $unit * 2.5
                @include prefix(webkit ms, transform, rotate(45deg))

            &:after
                content: 'Next project'
                right: 0

        &.r, &.r div
            right: 0

        div
            margin-top: $unit * -4
            top: 50%
            width: $unit * 6
            height: $unit * 8
            background: $colour-white
            overflow: hidden
            opacity: 0

            &:before, &:after
                display: block

            &:before
                content: ''
                position: absolute
                top: 50%
                // shhh
                margin-top: $unit * -1.25
                width: $unit * 2
                height: $unit * 2
                border: solid $colour-accent
                border-width: $unit * .5 $unit * .5 0 0
                @include prefix(webkit moz, transition, all ease .4s .2s)

            &:after
                margin-top: $unit * -2.5
                width: $unit * 15
                position: absolute
                top: 50%
                text-align: center
                font-weight: bold
                text-transform: uppercase
                letter-spacing: $unit * .4
                white-space: normal
                opacity: 0
                @include prefix(webkit moz, transition, all ease .4s)

#content
    padding: $unit * 4
    right: $unit * 2
    width: 25%
    background: $colour-white
    overflow-x: hidden
    @include prefix(webkit moz, box-sizing, border-box)
    @include prefix(webkit moz, box-shadow, -1mm 0 0mm 0mm $colour-shadow)

    nav
        width: calc(100% + #{$unit * 2})

        a
            display: inline-block
            margin: 0 $unit * 2 $unit * 2 0
            position: relative
            width: calc(25% - #{$unit * 2})

            &:before, &:after
                content: ''
                display: block

            &:before
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                @include prefix(webkit moz, transition, all ease .2s)

            &:after
                clear: both

            &.current:before
                background: $colour-accent-tint

            img
                vertical-align: bottom
                width: 100%

    h2
        margin-top: $unit * 2
        font-size: 150%

    p:last-child
        margin-bottom: 0

body:not(.mobile) #content nav a

    // these rules bork up mobile stuff otherwise
    &:hover:before, &:focus:before
        background: $colour-accent-tint
