// touchscreens of any size
.mobile

    #selector a:active
        -webkit-tap-highlight-color: transparent

    // gallery navigation (`#frame' is required)
    #frame .img-nav
        background: $colour-white-tint
        z-index: 0

        div
            opacity: 1

@media (max-width: $media-query-unit * 3 - $media-query-constant)

    // {} this comment helps syntax highlighting not go bork

    /* netbooks, tablets:
     *  - three columns
     */

    // previews
    section > a
        width: calc(33.33% - #{$unit * 2})

    // image conveyor frame
    #frame
        width: calc(66.66% - #{$unit * 2})

    // gallery information and image thumbnails
    #content
        width: 33.33%

    // let javascript determine how many columns are showing
    #css-to-js
        z-index: 3

@media (max-width: $media-query-unit * 2 - $media-query-constant)

    // {} this comment helps syntax highlighting not go bork

    /* smartphones:
     *  - two columns
     *  - links below page title
     *  - category selectors stacked rather than side-by-side
     *  - gallery information below images
     */

    // previews
    section > a
        width: calc(50% - #{$unit * 2})

    // header
    header
        height: $unit * 15

        // behance and email links in header
        div div
            display: inline-block
            margin-top: $unit * 2
            position: static
            width: calc(50% + #{$unit})

            // behance
            &:first-of-type
                margin-left: $unit * -1

            // email
            &:last-of-type
                margin-right: $unit * -1

    // work category selector
    #selector
        background-size: 160%

        // shrink to header-size
        &.selected

            a, #and
                padding: $unit * 3.5 0

        // container
        div
            padding: 0

        // category links
        a
            width: 100%
            padding: calc(25vh - #{$unit *  8}) 0

    // dividing line/ampersand between the two links
    #and
        padding: 0 !important
        position: absolute
        top: 50%
        left: 0
        height: 0
        width: 100%
        text-indent: 0
        line-height: 0

        // both lines
        &:before, &:after
            width: calc(50% - #{$unit * 5})
            height: 0

        // left line
        &:before
            top: initial
            left: $unit * 2

        // right line
        &:after
            bottom: initial
            right: $unit * 2

    // probably the gallery
    #gallery
        margin-left: $unit * -2

        // #frame and #content
        & > div
            width: 100%

    // gallery information and image thumbnails
    #content
        position: static
        @include prefix(webkit moz, box-shadow, none)

        // image thumbnails
        nav a
            width: calc(16.66% - #{$unit * 2})

    // image conveyor frame
    #frame
        width: calc(100% - #{$unit * 2})

        // clickable area for gallery navigation
        .img-nav
            width: 35%

    // let javascript determine how many columns are showing
    #css-to-js
        z-index: 2

@media (max-width: $media-query-unit - $media-query-constant)

    // {} this comment helps syntax highlighting not go bork

    /* really small smartphones
     *  - several measurments made smaller/tighter
     */

    header
        padding: $unit * 2.5 0 $unit * 2

        h1
            font-size: 28pt

    section
        padding: $unit * .5 0 $unit * .5 $unit

    section > a
        margin: $unit * .5 $unit $unit * .5 0
        width: calc(50% - #{$unit})

        & > div
            padding: $unit * 2

        h2
            font-size: 12pt

    #gallery
        margin: $unit * .5 0 $unit * .5 $unit

    #frame, #content
        width: calc(100% - #{$unit})

    #content
        padding: $unit * 3

    #content nav a
        width: calc(25% - #{$unit * 2})

    .img-nav

        & > div
            margin-top: $unit * -4
            width: $unit * 4
            height: $unit * 4

        &.r > div:before
            left: $unit * 1.25

        &.l > div
            left: $unit * .2
