// work category selector
#selector
    color: $colour-white
    background: url('../images/cover.jpg')
    background-size: 100%
    background-position: center
    text-transform: uppercase

    // shrink to header-size
    &.selected

        a, #and
            padding: $unit * 6.5 0

    // container (mostly to constrain width on bigger displays)
    div
        padding: 0 $unit
        position: relative

    // links and the dividing line between
    a, #and
        display: inline-block
        /* This is all sorts of awful. The 10.98 should really be 11, but this
         * would create a single-pixel line on most devices.
         */
        padding: calc(50vh - #{$unit *  10.98}) 0
        text-align: center
        font-weight: 700
        @include prefix(webkit moz, transition, all ease-in-out 1s)

    // category links
    a
        width: 50%
        height: $unit * 4.5
        color: inherit
        font-size: 20pt
        letter-spacing: $unit * 0.6

        // your are entering the realm of spans. good luck.

        // all spans
        span
            display: inline-block

        // text container
        & > span
            position: relative
            padding: 0 0 0 $unit * 0.2

        // second- and third- level spans, alternative-colour text
        & > span > span, [rel]:after
            @include prefix(webkit moz, transition, all ease 0.8s)

        // second-level spans
        & > span > span
            position: absolute
            top: 0
            left: 50%
            width: 0
            color: $colour-off-black
            background: $colour-white
            text-align: left
            overflow: hidden

        // alternate-colour text revealed by wipe
        [rel]:after
            content: attr(rel)
            display: block
            padding: 0 $unit * 1.8 0 $unit * 2
            position: relative
            left: -50%
            height: $unit * 4.5

        // alternate-colour text container
        &.selected > span > span, &:hover > span > span
            left: $unit * -1.8
            width: calc(100% + #{$unit * 3.6})
            @include prefix(webkit moz, transition-timing-function, cubic-bezier(0,1.88,.27,1))

            // third-level spans
            [rel]:after
                left: 0
                @include prefix(webkit moz, transition-timing-function, cubic-bezier(0,1.88,.27,1))

// dividing line/ampersand between the two links
#and
    position: absolute
    left: 50%
    width: 0
    height: 100%
    font-size: 14pt
    text-indent: $unit * -0.8
    line-height: 1.7
    @include prefix(webkit moz, box-sizing, border-box)

    // both lines
    &:before, &:after
        content: ''
        display: block
        position: absolute
        height: calc(50% - #{$unit * 5})
        box-shadow: 0 0 0 1px $colour-white

    // upper line
    &:before
        top: $unit * 2

    // lower line
    &:after
        bottom: $unit * 2
